<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GS Sales SIM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>022D2CC9224D51C300C9BC65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>022D2CDD224D51C300C9BC65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>022D2CE8224D51C300C9BC65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
